/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main);
  background: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-text);
  image-rendering: pixelated;
}

.header__logo {
  background: #fff;
}

.header__logo,
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  width: clamp(var(--min-logo-size), 100%, var(--max-width-logo));
  margin: 100px auto 0;
  border: 2px solid #000;
  padding-top: clamp(120px, calc(120px + 8 * (100vw - 375px) / 1065), 128px);
  padding-bottom: clamp(120px, calc(120px + 8 * (100vw - 375px) / 1065), 128px);
}

.header__title {
  align-self: center;
  vertical-align: bottom;
  font-family: var(--font-accent);
  font-size: clamp(3.0625rem, calc(2.7109rem + 1.5vw), 4.0625rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header__subtitle {
  align-self: center;
  font-family: var(--font-accent);
  font-size: clamp(14px, calc(9.5px + 1.2vw), 23px);
  line-height: 100%;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cards {
  gap: clamp(46px, calc(46px + (100vw - 375px) / 213), 51px);
  border: none;
  padding: 0;
}

.card__title {
  border: 2px solid #000;
  border-bottom: none;
  padding: 7px
    clamp(10px, calc(10px + (24 - 10) * (100vw - 375px) / (1440 - 375)), 24px)
    3px 10px;
  vertical-align: middle;
  font-size: 18px;

  font-variation-settings: 'wght' var(--title-weight);
}

.nowrap {
  white-space: nowrap;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px clamp(23px, calc(27px - (100vw - 375px) / 266.25), 27px) 24px
    24px;
  font-size: 18px;
  line-height: 21px;
}

.card__content {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-top: none;
}

.like-icon {
  box-sizing: border-box;
  height: min-content;
  block-size: 36px;
  inline-size: 34px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 12.5px 20px;
  overflow: hidden;
  color: #000;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  background: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
  text-align: center;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--color-primary);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color-primary);
  outline: none;
}

.button__text {
  display: block;
  height: max-content;
  color: var(--color-button-text);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-static);
  font-size: var(--text-size-small);
  font-style: normal;
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__image-container {
  position: relative;
  border-bottom: 2px solid #000;
}

.card__image-label {
  position: absolute;
  top: clamp(26px, calc(26px + 4 * (100vw - 375px) / 1065), 27px);
  right: clamp(10px, calc(10px + 14 * (100vw - 375px) / 1065), 25px);
  z-index: 1;
  opacity: 0.5;
  color: rgb(0 0 0 / 0.5);
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}

.tolowercase {
  text-transform: lowercase;
}

.card__actions {
  display: flex;
  align-self: end;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  display: flex;
  height: fit-content;
  border: 2px solid transparent;
  padding: 0;
  margin: 1px 4px 1px 7px;
  background: var(--color-secondary);
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-primary);
  outline: none;
}

.main {
  display: block;
  width: 100%;
  padding-bottom: 103px;
}

.dialog {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  max-width: min(91%, 353px);
  border: none;
  padding: 0;
  font-family: var(--font-accent);
  text-transform: uppercase;
  background-color: transparent;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  border: 2px solid #000;
  padding: 33px;
  background-color: var(--color-secondary);
}

.dialog__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-family: var(--font-accent);
}

.save-button__icon {
  border: none;
  mix-blend-mode: difference;
  filter: invert(1); /* Инвертируем цвет иконки */
}

.dialog__title {
  margin: 0;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
}

.dialog__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.dialog__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.card__like-button {
  padding: 12.5px 37px 8px 34px;
  max-width: 130px;
}

.btn-save {
  font-size: 14px;
  padding: 12.5px 18px 17px;
  margin-top: 50px;
}

.btn-save > .save-button__icon {
  margin-right: 10px;
}

.img__fltr_sepia {
  filter: sepia(85%);
}

.img__fltr_saturate {
  filter: saturate(2.1);
}

.img__fltr_invert {
  filter: invert(100%);
}

.img__fltr_hue-rotate {
  filter: hue-rotate(65deg);
}

.img__fltr_grayscale {
  filter: grayscale(100%);
}

.img__fltr_brightness-blur {
  filter: blur(1px) brightness(35%);
}

.img__fltr_saturate-sepia {
  filter: saturate(180%) sepia(80%);
}

@supports (-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000) {

  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

@media (width<400px) {

  .btn-save {
    flex-direction: column;
    gap: 9px;
  }

  .save-button__icon {
    color: #000;
    align-self: center;
    width: 28px;
    height: 28px;
  }

  .btn-save > .save-button__icon {
    margin-right: 0;
  }
}
