/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main:
    'Inter', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen,
    ubuntu, cantarell, 'Open Sans', sans-serif;
  --font-accent: 'Press Start 2P', 'fantasy', courier, monospace;
  --text-weight: 400; /* обычный текст */
  --title-weight: 700; /* жирный заголовок */
  --min-logo-size: 375px;
  --max-width-logo: 696px;
  --color-primary: #000;
  --color-secondary: #fff;
  --color-heart: #f00;
  --color-button-text: #fff;
  --color-white: #fff;
  --stroke-color: rgb(255 255 255 / 1);
  --font-weight-static: 400;
  --font-weight-normal: 400;
  --font-weight-bold: 785;
  --logo-text-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --text-size: 18px;
  --text-size-small: 14px;
  --grid-color: #d3d3d3; /* цвет для линий сетки */
  --gradient-start: #e7e7e7; /* начальный цвет основного градиента */
  --gradient-end: #1a1a1a; /* конечный цвет основного градиента */

  --gradient-horizontal: repeating-linear-gradient(
    to right,
    var(--grid-color) 0 2px,
    transparent 2px 4px
  );

  --gradient-vertical: repeating-linear-gradient(
    to bottom,
    var(--grid-color) 0 2px,
    transparent 2px 4px
  );

  --gradient-main: linear-gradient(
    to bottom,
    var(--gradient-start) 0.01%,
    var(--gradient-end) 100%
  );

  --background-image:
    var(--gradient-horizontal), var(--gradient-vertical), var(--gradient-main);

  --color-heart-contour: #000;
  --color-heart-filled: var(--color-heart);
  --color-heart-unfilled: #fff;
  --max-container-width: 700px;
}
